<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Skip Assistant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${user} + '\'s list of skipped songs:'" />

<table border="1" th:if="${!songs.empty}">
    <tr>
        <td></td>
        <td></td>
        <td>Playlist</td>
        <td>Song</td>
        <td>Skip Count</td>
        <td></td>
    </tr>
    <tr th:each="song : ${songs}">
        <td>
            <form ACTION="#" th:action="@{/remove}" th:object="${song}" method="POST">
                <input type="hidden" th:name="userId"       th:id="userId"       th:value="*{userId}"/>
                <input type="hidden" th:name="playlistId"   th:id="playlistId"   th:value="*{playlistId}"/>
                <input type="hidden" th:name="songUri"      th:id="songUri"      th:value="*{songUri}"/>
                <input type="hidden" th:name="numSkips"     th:id="numSkips"     th:value="*{numSkips}"/>
                <input type="hidden" th:name="songName"     th:id="songName"     th:value="*{songName}"/>
                <input type="hidden" th:name="playlistName" th:id="playlistName" th:value="*{playlistName}"/>
                <input type="hidden" th:name="previewUrl" th:id="previewUrl" th:value="*{previewUrl}"/>
                <button type="submit">Remove from Playlist</button>
            </form>
        </td>
        <td>
            <form ACTION="#" th:action="@{/dontremove}" th:object="${song}" method="POST">
                <input type="hidden" th:name="userId"       th:id="userId"       th:value="*{userId}"/>
                <input type="hidden" th:name="playlistId"   th:id="playlistId"   th:value="*{playlistId}"/>
                <input type="hidden" th:name="songUri"      th:id="songUri"      th:value="*{songUri}"/>
                <input type="hidden" th:name="numSkips"     th:id="numSkips"     th:value="*{numSkips}"/>
                <input type="hidden" th:name="songName"     th:id="songName"     th:value="*{songName}"/>
                <input type="hidden" th:name="playlistName" th:id="playlistName" th:value="*{playlistName}"/>
                <input type="hidden" th:name="previewUrl" th:id="previewUrl" th:value="*{previewUrl}"/>
                <button type="submit">Don't Remove</button>
            </form>
        </td>
        <td th:text="${song.playlistName}">Playlist</td>
        <td th:text="${song.songName}">Song</td>
        <td th:text="${song.numSkips}">Skip Count</td>
        <td><div th:if="${song.previewUrl != null}"><a onclick="this.firstChild.play()" class="button"><audio th:src="${song.previewUrl}"></audio>&#9658;</a></div></td>
    </tr>
</table>

</body>
</html>